<!Doctype html>
<html lang="ko">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
          crossorigin="anonymous">

    <!-- JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"></script>

    <!-- 구글폰트 -->
    <link href="https://fonts.googleapis.com/css?family=Stylish&display=swap" rel="stylesheet">


    <title>SW사관학교 정글 | 나홀로 메모장</title>

    <!-- style -->
    <style type="text/css">
        * {
            font-family: "Stylish", sans-serif;
        }

        .top {
            width: 500px;

        }

        .wrap {
            width: 1200px;
            margin: auto;
        }

        .card-update {
            width: 300px;
        }

        #post-box {
            width: 500px;
            margin: 20px auto;
            padding: 50px;
            border: black solid;
            border-radius: 5px;
        }
    </style>

    <script>
        $(document).ready(function () {
            showCard();
        });

        function openCard(title, contents, id, i) {
            let card_title = $('.card-title')[i]['id'];
            let card_contents = $('.card-text')[i]['id'];
            if (card_title == title) {
                // $('#card_body').hide();
                let open_temp = `<div class="card-update">
                                    <div class="form-group">
                                        <input id="update-title" class="form-control" value='${card_title}'>
                                    </div>
                                    <div class="form-group">
                                        <textarea id="update-contents" class="form-control" rows="2">${card_contents}</textarea>
                                    </div>
                                    <button type="button" class="btn btn-primary" onclick="updateCard('${title}','${id}')">저장하기</button>
                                </div>`
                $('#' + id).empty().append(open_temp)
            }
        }

        function updateCard(before_title, id) {
            let title = $('#update-title').val();
            let contents = $('#update-contents').val();

            $.ajax({
                type: "POST",
                url: "/memo/update",
                data: {
                    title_before_give: before_title,
                    title_give: title,
                    contents_give: contents,
                    id_give: id
                },
                success: function (response) { // 성공하면
                    if (response["result"] == "success") {
                        alert(response['msg'])
                        window.location.reload();
                    } else {
                        alert("서버 오류!")
                    }
                }
            })
        }

        function deleteCard(title) {
            $.ajax({
                type: 'POST',
                url: '/memo/delete',
                data: {title_give: title},
                success: function (response) {
                    if (response['result'] == 'success') {
                        let msg = response['msg'];
                        alert(msg);
                        window.location.reload();
                    }
                }
            });
        }

        function postCard() {
            let title = $('#post-title').val();
            let contents = $('#post-contents').val();

            $.ajax({
                type: "POST",
                url: "/memo/post",
                data: {
                    title_give: title,
                    contents_give: contents
                },
                success: function (response) { // 성공하면
                    if (response["result"] == "success") {
                        alert(response['msg'])
                        window.location.reload();
                    } else {
                        alert("서버 오류!")
                    }
                }
            })
        }

        function showCard() {
            $.ajax({
                type: "GET",
                url: "/memo/show",
                data: {},
                success: function (response) {
                    let memos = response['all_memos'];
                    let ids = response['all_id'];
                    for (let i = 0; i < memos.length; i++) {
                        let title = memos[i]['title']
                        let contents = memos[i]['contents']
                        let id = ids[i]
                        let temp_html = `
                            <div class="card">
                                <div class="card-body" id="${id}">
                                    <p class="card-title" id="${title}">${title}</p>
                                    <p class="card-text" id="${contents}">${contents}</p>
                                    <button type="button" class="btn btn-light" onclick="openCard('${title}', '${contents}', '${id}', ${i})">수정</button>
                                    <button type="button" class="btn btn-dark" onclick="deleteCard('${title}')">삭제</button>
                                </div>
                            </div>`
                        $('#cards-box').append(temp_html)
                    }
                }
            })
        }
    </script>

</head>

<body>
<div class="wrap">
    <div class="jumbotron">
        <h3 class="display-4">나홀로 메모장<span class="badge badge-secondary">ver2.0</span></h3>

        <div class="top">
            <div class="form-group">
                <input id="post-title" class="form-control" placeholder="메모 제목을 입력하세요">
            </div>
            <div class="form-group">
                <textarea id="post-contents" class="form-control" rows="2" placeholder="내용을 입력하세요"></textarea>
            </div>
            <button type="button" class="btn btn-primary" onclick="postCard()">저장하기</button>
        </div>
        <p class="lead">
        </p>
    </div>
    <div id="post-box" class="form-post" style="display:none">
    </div>
    <div id="cards-box" class="card-columns">
    </div>
</div>
</div>
</body>

</html>